<h1>Lista de Fornecedores</h1>
<button [routerLink]="['/add-provider']" class="btn btn-primary">Adicionar Fornecedor</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cnpj</th>
        <th scope="col">CEP</th>
        <th scope="col">Telefone</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providers; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{ provider.name }}</td>
        <td>{{provider.cnpj}}</td>
        <td>{{provider.cep}}</td>
        <td>{{provider.telefone}}</td>
        <td><a (click)="getToDetails(1)"><fa-icon [icon]="faBinoculars"></fa-icon> </a> &nbsp;&nbsp;<a (click)="deleteById(1)"><fa-icon [icon]="faTrash"></fa-icon> </a> &nbsp;&nbsp;   </td>
      </tr>
    </tbody>
  </table>