<h1>
    Adicionar Fornecedor
</h1>

<div class="container">
    <form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.name"  name="name" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cep</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.cep"  name="cep" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cpj</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.cnpj"  name="cnpj" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.telefone"  name="telefone" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Responsavel</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.responsavel"  name="responsavel" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.cidade"  name="responsavel" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.endereco"  name="responsavel" aria-describedby="emailHelp">
      </div>
      
      <button  (click)="createProvider()" class="btn btn-primary">Submit</button>
 </form>
</div>