<h1>
    Detalhamento do Fornecedor
</h1>

<div class="container">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.name"  aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cep</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.cep"  aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cpj</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.cnpj"  aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.telefone"  aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Responsavel</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="provider.responsavel"  aria-describedby="emailHelp">
      </div>
 
</div>